/* General */
:root{
  --white:#ffffff;
  --beige:#F5F0DD;
  --coal: #363636;
  --leaf: #AAF584;
}
body{
  font-family:NotoSansJP;
  overflow-x:hidden;
  margin:0px;
}
.container{
  position:relative;
}
.section{
  color:var(--coal);
  padding:25px 5%;
  font-size:18px;
}
.green{
  background-color:var(--leaf);
}
@font-face{
  font-family:"NotoSansJP";
  src:url("../fonts/NotoSansJP-Regular.otf");
}
@font-face{
  font-family:"BalsamiqSans";
  src:url("../fonts/BalsamiqSans-Regular.ttf");
}
h1{
  font-family:BalsamiqSans;
}

/* Navbar */
.header {
    background-color: var(--white);
    box-shadow:0 0 6px gray;
    text-align:center;
    position:relative;
    padding:15px 30px;
    padding-bottom:0;
    z-index:1;
}
.header h1 {
    color: var(--leaf);
    text-align:center;
    font-size:75px;
    display:inline;
}
.header .section-links{
  grid-template-columns:25% 25% 25% 25%;
  display:grid;
}
.header .section-links a{
  border-bottom:solid 15px var(--white);
  display:inline-block;
  padding:10px 25px;
  font-weight:bold;
  font-size:25px;
}
.header .section-links a:hover{
  border-color:var(--leaf);
}

/* Navbar */
.splash {
  background-image:url("../images/trees.jpg");
  grid-template-columns:20% 80%;
  position:relative;
  min-height:450px;
  display:grid;
}
.splash .splash-label{
  background-color:rgba(1,1,1,0.6);
  color:var(--white);
  text-align:center;
  font-weight:bold;
  padding:15px;
}
.splash .splash-label img {
  border-radius: 50%;
  text-align: center;
}

/* Steps */
/*.step-title{
  font-family:"BalsamiqSans";
  font-weight:bold;
  font-size:40px;
  display:inline;
}*/
.step1{
  grid-template-columns:50% 50%;
  display:grid;
}
.step2 .buttons{
  grid-template-columns:50% 50%;
  text-align:center;
  display:grid;
}
.step2 .buttons .offset{
  background-color:var(--leaf);
  display:inline-block;
  color:var(--white);
  padding:10px 25px;
  font-weight:bold;
  font-size:60px;
}

/* About */
.about{
  background-color: var(--beige);
}

/* Contact */
.contact{
  background-color: var(--white);
}
.contact .contact-grid{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  display:grid;
}
.contact-grid .contact-info img {
  height:150px;
}
.contact a{
  text-decoration:none;
  color:var(--coal);
  font-weight:bold;
  font-size:20px;
}
.contact a:hover{
  text-decoration:underline;
  cursor:pointer;
}

/* Footer */
.footer {
  background-color:var(--coal);
  text-align:center;
  padding:15px 0;
  color:white;
}
