/* General */
:root{
  --highlight:#ffd96e;
  --white:#ffffff;
  --coal:#363636;
  --main:#deb540;
}
body{
  font-family:NotoSansJP;
  overflow-x:hidden;
  color:var(--coal);
  font-size:18px;
  margin:0px;
}
h1{
  font-family:BalsamiqSans;
}
.container{
  position:relative;
}
.section{
  padding:25px 5%;
}
.center{
  text-align:center;
}
.fade-in{
  opacity:25%;
}
.img-left{
  grid-template-columns:40% 60%;
  display:grid;
}
.img-left div:not(.image){
  padding:0 5%;
}
.img-left .image{
  background-position-x:50%;
  background-position-y:50%;
  background-size:cover;
  min-height:400px;
}
.thin{
  padding:25px 10%;
}
.green{
  background-color:var(--main);
  color:var(--white);
}
@font-face{
  font-family:"NotoSansJP";
  src:url("../fonts/NotoSansJP-Regular.otf");
}
@font-face{
  font-family:"BalsamiqSans";
  src:url("../fonts/BalsamiqSans-Regular.ttf");
}
@media only screen and (max-width:1000px){
  body{
    font-size:12px;
  }
  h1{
    text-align:center;
  }
  .section{
    padding:25px 5px;
  }
  .img-left{
    grid-template-columns:100%;
  }
  p{
    text-align:justify;
  }
}

/* Splash */
.splash,.alt-splash{
  background-color:rgba(0,0,0,0.3);
  background-blend-mode:multiply;
  background-position-y:50%;
  background-size:cover;
  position:relative;
  color:var(--white);
}
.alt-splash{
  text-align:center;
  padding:25px 0;
}
.alt-splash h1{
  font-size:80px;
}
.alt-splash p{
  text-align:center;
}
.splash{
  padding:100px 0;
}
.splash p{
  text-align:center;
}
.splash > div{
  text-align:center;
  position:relative;
}
.splash h1{
  display:inline-block;
  position:relative;
  font-size:80px;
  margin:25px 0;
}
.splash h2{
  font-size:40px;
  margin:0;
}
.splash > img{
  position:absolute;
  height:80px;
  left:10px;
  top:10px;
}
@media only screen and (max-width:1000px){
  .splash h1,.alt-splash h1{
    font-size:40px;
  }
  .splash h2{
    font-size:26px;
  }
  .splash > img{
    transform:translateX(-50%);
    height:60px;
    left:50%;
  }
}

/* Buttons */
.buttons{
  grid-template-columns:50% 50%;
  text-align:center;
  margin-top:50px;
  display:grid;
}
.buttons.single{
  grid-template-columns:100%;
}
.buttons .offset{
  transition:background-color 0.1s ease;
  background-color:var(--main);
  text-decoration:none;
  display:inline-block;
  color:var(--white);
  padding:10px 25px;
  font-weight:bold;
  font-size:50px;
  cursor:pointer;
}
.buttons .offset:hover{
  background-color:var(--highlight);
}
@media only screen and (max-width:1000px){
  .buttons{
    grid-template-columns:100%;
  }
  .buttons .offset{
    margin-top:15px;
    font-size:20px;
    min-width:80%;
  }
}

/* Steps */
.step1{
  grid-template-columns:50% 50%;
  display:grid;
}
.calculator-wrapper{
  position:relative;
  min-height:750px;
}
.calculator-wrapper iframe{
  border:solid 2px var(--coal);
  position:absolute;
  height:80%;
  width:80%;
  left:10%;
  top:10%;
}
@media only screen and (max-width:1000px){
  .calculator-wrapper iframe{
    width:100%;
    left:0;
  }
  .step1{
    grid-template-columns:100%;
  }
  .step2 .buttons{
    grid-template-columns:100%;
  }
  .step2 .buttons .offset{
    margin-top:50px;
  }
}

/* Trees Grid */
/*.trees-grid{
  grid-template-columns:calc(33% - 5px) calc(34% - 10px) calc(33% - 5px);
  grid-column-gap:10px;
  display:grid;
}
.trees-grid > div{
  text-align:center;
  margin-top:80px;
}
.trees-grid .image{
  background-position:center center;
  background-size:cover;
  position:relative;
  height:500px;
  width:80%;
  left:10%;
}
.trees-grid h2{
  margin-bottom:0;
}
.trees-grid p {
  margin-top:0;
}
@media only screen and (max-width:1000px){
  .trees-grid{
    grid-template-columns:50% 50%;
  }
  .trees-grid .image{
    width:calc(100% - 10px);
    left:5px;
  }
}
@media only screen and (max-width:750px){
  .trees-grid{
    grid-template-columns:100%;
  }
}*/

/* Gallery */
.gallery{
  grid-template-columns:50% 50%;
  display:grid;
  padding:0;
}
.gallery .not-background{
  padding:25px 10%;
}
.gallery .desc{
  text-align:center;
}
.gallery .background{
  background-size:cover;
  background-position:center;
  min-height:600px;
}
.gallery .thumbnails{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  display:grid;
}
.gallery .thumbnails .icon{
  transition:background-color 0.1s ease;
  background-position:center center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode:multiply;
  border:solid 1px var(--white);
  transform:translateX(-50%);
  background-size:cover;
  position:relative;
  cursor:pointer;
  height:100px;
  width:100px;
  left:50%;
}
.gallery .thumbnails .icon:hover{
  background-color:rgba(0,0,0,0);
}
.gallery .thumbnails .icon *{
  display:none;
}
.gallery .thumbnails > div h3{
  margin-bottom:0;
  margin-top:5px;
}
.gallery .thumbnails > div{
  margin-bottom:50px;
}
@media only screen and (max-width:1000px){
  .gallery .thumbnails{
    grid-template-columns:50% 50%;
  }
}
@media only screen and (max-width:750px){
  .gallery{
    grid-template-columns:100%;
  }
  .gallery .background{
    min-height:300px;
  }
  .gallery .desc *{
    text-align:center;
  }
}

/* PayPal link */
.paypal{
  text-align:center;
  display:block;
}
.paypal img{
  transition:background-color 0.1s ease;
  background-color:var(--main);
  border-radius:25px;
  padding:5px 25px;
  height:50px;
}
.paypal img:hover{
  background-color:var(--highlight);
}

/* Contact */
.contact{
  background-color: var(--white);
}
.contact .contact-grid{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  display:grid;
}
.contact-grid .contact-info img {
  height:150px;
}
.contact a{
  text-decoration:none;
  color:var(--coal);
  font-weight:bold;
  font-size:20px;
}
.contact a:hover{
  text-decoration:underline;
  cursor:pointer;
}
@media only screen and (max-width:1000px){
  .contact .contact-grid{
    grid-template-columns:100%;
  }
  .contact-grid .contact-info img {
    height:75px;
  }
  .contact-grid .contact-info div {
    margin-bottom:25px;
  }
}

/* Footer */
.footer {
  background-color:var(--coal);
  text-align:center;
  padding:15px 0;
  color:white;
}
.footer a{
  text-decoration:none;
  color:var(--highlight);
}
.footer a:hover{
  text-decoration:underline;
}
